.box{
    width: 60%;
    height: 540px;
    overflow: auto;
   
    margin-top: 2%;
    margin-left: 20%;

}
.total{
    width: 60%;
    height: 50px;
    
    margin-left: 20%;

}
.total button {
    margin-left: 35%;
    margin-top: 2%;
}
.btn-primary{

   float: right;
   margin-right: 10%;
   
}
.name{
    width: 20%;

}
.cost{
    width: 30%;
    margin-left: 20%;
}
.add{
    width: 20%;
    float: right;
}
